body{
   font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(75deg, #e8e515,#29b6c9);
    
    padding:10px 10px;
  /* margin-bottom: 0px; */
}
.todo-app{
    width:100%;
    max-width: 700px;
    background: #fff;
    margin:100px auto 20px;
    padding:20px 30px 70px;
    /* border-radius: 0px; */
}
.todo-app h2{
    color:#9f5c1e;
    display:flex;
    font-size: 45px;
    align-items: center;
    margin-bottom: 60px;
    margin-left: 40px;
}
.todo-app h2 img{
    width:80px;
    margin-left: 50px;

}
.row{
    display:flex;
    align-items:center;
    justify-content: space-between;
    background:#bec4d1;
    border-radius: 30px;
    padding-left: 40px;
    margin-bottom: 25px;

}
input{
    flex:1;
    font-size: 20px;
    border :none;
    outline:none;
    padding:16px 50px;
    background:transparent;
    padding: 15px;
    font-weight: 14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
button{
     border :none;
    outline:none;
    padding:16px 50px;
    background: #ff5945;
    color:#fff;
    font-size: 20px;
    cursor:pointer;
    border-radius: 40px;
      background-color: #2455a3;
}
button:hover{
    
    background-color: #153677;
}
ul li{
    list-style: none;
    font-size: 20px;
    padding:12px 8px 12px 50px;
    user-select: none;
    cursor:pointer;
    position :relative;
    color:#733b06
}
ul li::before{
    content: '';
    position:absolute;
    height:28px;
    width:28px;
    border-radius: 50%;
    background-image:url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top:15px;
    left:6px;
    

}
ul li.checked{
color:#e92709;
text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right:0;
   
    width:40px;
    height:40px;
    color:#555;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;

}
ul li span:hover{
 background: rgb(198, 169, 169);
}
@media(max-height:900px)
{
    /* .todo-app{
       width:50%
        max-width: 300px;
    } */
     
}